<div
  class="w-full h-[10vh] bg-indigo-800 text-white grid place-items-center select-none"
>
  <h1>Welcome!</h1>
  <ul class="flex items-center justify-evenly w-1/2">
    <li>
      <a
        routerLink="home"
        class="font-semibold hover:text-red-200 transition-all"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="catalogo"
        class="font-semibold hover:text-red-200 transition-all"
        >catalogo</a
      >
    </li>
    <li>
      <a
        routerLink="ods"
        class="font-semibold hover:text-red-200 transition-all"
        >ODS</a
      >
    </li>
    <li>
      <a
        routerLink="historico"
        class="font-semibold hover:text-red-200 transition-all"
        >History</a
      >
    </li>
  </ul>
</div>
